langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence-transformers
langchain-huggingface
openai
tiktoken
langchain-openai
langchain-chroma
beautifulsoup4
faiss-cpu
streamlit
langchain-groq
fastapi
uvicorn
langserve
sse-starlette
bs4
langchain-anthropic
ddgs
validators
youtube_transcript_api 
unstructured 
pytube
