langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
pymupdf
langchain-text-splitters
sentence-transformers
langchain-huggingface
openai
tiktoken
langchain-openai
langchain-chroma
beautifulsoup4
faiss-cpu
streamlit
langchain-groq
fastapi
uvicorn
langserve
sse-starlette
langchain-anthropic
ddgs
validators
youtube_transcript_api 
unstructured 
pytube
